.section {
  width: 100%;
  background-color: var(--main-bg-color);
  transition: background-color 0.3s linear;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 120px;
    box-sizing: border-box;
  }
  &__title {
    @include font(700, 55px, 60px);
    letter-spacing: -0.5px;
    margin: 0;
    padding-block-end: 50px;
    max-width: 460px;
    color: var(--headers-color);
    display: inline-block;
  }

  &__description {
    @include font(400, 18px, 28px);
    max-width: 460px;
    margin: 0;
    color: var(--text-color);
    opacity: 0.7;
    display: inline-block;
  }
}
