.section-highway {
  display: flex;
  flex-direction: column;
  padding-block-end: 50px;
  padding-block-start: 60px;

  &__carousel-wrapper {
    overflow: hidden;
    margin-block-start: 80px;
    position: relative;
  }

  &__carousel-track {
    display: flex;
    transition: 0.3s;
  }

  &__carousel-item {
    padding-inline-end: 40px;
  }

  &__carousel-buttons {
    margin-block-start: 50px;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 20px;
  }

  &__carousel-button {
    width: 50px;
    height: 50px;
    background-color: #ebebeb;
    border: none;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/button-left.svg");
    padding: 0;

    &_move_next {
      transform: scale(-1, 1);
    }
  }

  &__carousel-road-icon {
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 10000;
    bottom: 16px;

    &_bg_highway {
      background-image: url("../images/slider-icon-highway.svg");
    }
    &_bg_gravel {
      background-image: url("../images/slider-icon-gravel.svg");
    }
    &_bg_tt {
      background-image: url("../images/slider-icon-tt.svg");
    }
  }

  &__description {
    margin-block-end: 80px;
  }
}


