.section-highway {
  display: flex;
  flex-direction: column;
  padding-block-end: 50px;
  padding-block-start: 60px;

  &__carousel-wrapper {
    overflow: hidden;
    margin-block-start: 80px;
    position: relative;
  }

  &__carousel-track {
    display: flex;
    transition: .3s;
    }

  &__carousel-item {
    padding-inline-end: 40px;
  }

  &__carousel-buttons {
    margin-block-start: 50px;

  }

  &__carousel-button {
    width: 50px;
    height: 50px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/button-left.svg");
    padding: 0;

    &_move_next {
      transform: scale(-1, 1);
    }


}
  &__carousel-road-icon {
    background-image: url("../images/slider-icon-highway.svg");
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 16px;
    z-index: 10000;
  }
}

.active-dot {
  color: red;
}