.header {
  background-color: var(--main-bg-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  
  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 28px 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 34px;
    @include font(500, 14px, 18px);
    color: var(--headers-color);
  }

  &__link {
    font-family: $font-stack;
    cursor: pointer;
  }

  &__link:hover {
    opacity: 0.75;
    transition: opacity 0.2s linear;
  }
}

@media screen and (max-width: 1370px) {
  .header{

    &__container {
      padding: 28px 60px; 
    }
  }
}