.section-training {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start:  150px;
  padding-block-end: 120px;
  padding-inline-end: 120px;
  align-items: flex-start;
  

  &__text-part {
    display: flex;
    flex-direction: column;
    max-width: 50%;


  }

  &__main-image {
   object-fit: contain;
    max-width: 50%;
    flex-shrink: 5;
  }

  &__links {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 30px;

  }

  &__link {
    text-decoration: none;
    @include font (600, 18px, 28px);
    color:var(--headers-color);
  }
}

@media screen and (max-width: 1370px) {
  .section-training {
    padding-inline-end: 60px;
  }
  
}