.footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  transition: background-color 0.3s linear;

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 120px 60px;
  }

  &__subscribe-title {
    @include font(600, 24px, 32px);
    max-width: 230px;
    margin: 0;
    margin-bottom: 50px;
    color: var(--headers-color);

  }

  &__subscribe-form {
    margin-bottom: 100px;
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    min-width: 360px;
    display: flex;
    flex-direction: row;
    padding: 11px 20px;
  }
  &__subscribe-input {
    @include font(500, 13px, 28px);
    flex-grow: 2;
    border: none;
    background-color: var(--footer-bg-color);
    outline: none;
    color:var(--text-color);
    transition: background-color 0.3s linear;

    &:focus {
      outline: none;
      color: var(--headers-color);
    }

    &:focus + button {
      display: block;
    }

  }
  &__subscribe-button {
    display: none;
    @include font(500, 13px, 28px);
    border: none;
    color: var(--headers-color);
    background-color: transparent;
    cursor: pointer;
  }

  &__copyright {
    @include font(600, 14px, 20px);
    color: #CFCFCF;
  }
  &__theme-switch {
    align-self: flex-end;
    display: flex;
    flex-direction: row;

  }
  &__switch-container {
    width: 44px;
    height: 24px;
    border-radius: 20px;
    background: var(--switch-background-color);
    margin: 0 20px;
    padding: 2px;
    box-sizing: border-box;


    &_active div {
      transform: translateX(20px);
      transition: transform 250ms;

    }
  }


  &__switch {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #24B47E;
    z-index: 20;
    transition: transform 250ms;
  }
  }


