@import url("../vendor/normalize.css");
@import url("../vendor/fonts/font.css");
.page {
  width: 100%;
  margin: 0;
  --main-bg-color: #F4F4F4;
  --footer-bg-color: #EFEFEF;
  --headers-color: #151515;
  --text-color:#222222;
  --line-color: #D7D4D4;
  --switch-background-color: #fff;
  --carousel-buttons-color: #EBEBEB;
}
.page_dark {
  --main-bg-color: #333333;
  --footer-bg-color: #2F2F2F;
  --headers-color: #FFFFFF;
  --text-color: #E5E5E5;
  --line-color: #707070;
  --switch-background-color: #545454;
  --carousel-buttons-color: #434343;
}

.header {
  background-color: var(--main-bg-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 34px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.header__link {
  font-family: Inter, Arial, sans-serif;
}

.section {
  width: 100%;
  background-color: var(--main-bg-color);
  transition: background-color 0.3s linear;
}
.section__container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  box-sizing: border-box;
}
.section__title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  margin: 0;
  padding-block-end: 50px;
  max-width: 460px;
  color: var(--headers-color);
  display: inline-block;
}
.section__description {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  max-width: 460px;
  margin: 0;
  color: var(--text-color);
  opacity: 0.7;
  display: inline-block;
}

.section-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 80px;
}
.section-intro__info-part {
  display: flex;
  flex-direction: column;
}
.section-intro__image-part {
  position: relative;
}
.section-intro__main-image {
  padding-block-start: 20px;
}
.section-intro__button {
  width: 180px;
  color: #FFFFFF;
  background-color: #24B47E;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 16px 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  margin-block-start: 60px;
}
.section-intro__bike-caption {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--headers-color);
  margin-block-start: 167px;
  display: flex;
  align-items: center;
}
.section-intro__caption-line {
  width: 132px;
  border-top: 2px solid var(--line-color);
  display: inline-block;
  margin-inline-start: 30px;
}
.section-intro__sticky-container {
  position: absolute;
  min-height: 430px;
  min-width: 810px;
  top: 40%;
  left: -200px;
}
.section-intro__bike-image {
  position: sticky;
  height: 300px;
  width: 440px;
  top: 150px;
  background-image: url("../images/cannondale-systemsix-himod.png");
  background-color: #F4F4F4;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.section-quote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding-top: 120px;
  padding-bottom: 60px;
}
.section-quote__main-image {
  max-width: 650px;
  max-height: 460px;
  justify-self: self-end;
}
.section-quote__text-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-quote__quote {
  font-family: Inter, Arial, sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  max-width: 470px;
  color: var(--headers-color);
  letter-spacing: -0.5px;
}
.section-quote__author {
  display: flex;
  flex-direction: column;
}
.section-quote__author-name {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--headers-color);
  margin-bottom: 6px;
}
.section-quote__author-subline {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-color);
}

.section-highway {
  display: flex;
  flex-direction: column;
  padding-block-end: 50px;
  padding-block-start: 60px;
}
.section-highway__carousel-wrapper {
  overflow: hidden;
  margin-block-start: 80px;
}
.section-highway__carousel-track {
  display: flex;
  transition: 0.3s;
}
.section-highway__carousel-item {
  padding-inline-end: 40px;
}
.section-highway__carousel-buttons {
  margin-block-start: 50px;
}
.section-highway__carousel-button {
  width: 50px;
  height: 50px;
  background-color: #EBEBEB;
  border: none;
  border-radius: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/button-left.svg");
  padding: 0;
}
.section-highway__carousel-button_move_next {
  transform: scale(-1, 1);
}

.active-dot {
  color: red;
}

.section-bicycles {
  padding-block-start: 60px;
  padding-inline-end: 120px;
}
.section-bicycles__carousel-container {
  overflow: hidden;
}
.section-bicycles__carousel-track {
  display: flex;
  flex-direction: row;
  transition: 0.3s;
}
.section-bicycles__carousel-item {
  display: flex;
  flex-direction: row;
}
.section-bicycles__carousel-picture-wrapper {
  width: 380px;
  height: 380px;
  padding: 20px;
  background-color: #F4F4F4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-inline-end: 30px;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
}
.section-bicycles__carousel-picture {
  width: 340px;
}

.section-training {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 120px 120px;
}
.section-training__text-part {
  display: flex;
  flex-direction: column;
}
.section-training__main-image {
  height: 460px;
  width: 580px;
}
.section-training__links {
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 30px;
}
.section-training__link {
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--headers-color);
}

.footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  transition: background-color 0.3s linear;
}
.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 120px 60px;
}
.footer__subscribe-title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  max-width: 230px;
  margin: 0;
  margin-bottom: 50px;
  color: var(--headers-color);
}
.footer__subscribe-form {
  margin-bottom: 100px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-radius: 4px;
  min-width: 360px;
  display: flex;
  flex-direction: row;
  padding: 11px 20px;
}
.footer__subscribe-input {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  flex-grow: 2;
  border: none;
  background-color: var(--footer-bg-color);
  outline: none;
}
.footer__subscribe-input:focus {
  outline: none;
}
.footer__subscribe-button {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 28px;
  border: none;
}
.footer__copyright {
  font-family: Inter, Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #CFCFCF;
}
.footer__theme-switch {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}
.footer__switch-container {
  width: 44px;
  height: 24px;
  border-radius: 20px;
  background: var(--switch-background-color);
  margin: 0 20px;
  padding: 2px;
  box-sizing: border-box;
}
.footer__switch {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #24B47E;
  z-index: 20;
}

/*# sourceMappingURL=index.css.map */
