/* Error: Undefined mixin.
 *    ,
 * 28 |     @include font(600, 14px, 18px);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   section-intro.scss 28:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 28 \2502      @include font(600, 14px, 18px);\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   section-intro.scss 28:5  root stylesheet";
}
